@model OrbusDevTest.DataAccess.Models.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Product</legend>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.ProductKey)
        </div>
        <div class="editor-field" id="productKey">
            @Html.TextBoxFor(m => m.ProductKey, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ProductKey)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.StockLevel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StockLevel)
            @Html.ValidationMessageFor(model => model.StockLevel)
        </div>
    
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
