@model OrbusDevTest.DataAccess.Models.Product


<tr>
    <td>Product - @Html.Raw(HttpUtility.HtmlDecode(Model.Name))</td>
    <td>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.ProductKey)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ProductKey)
        </div>
    </td>
    <td>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </td>
    <td name="stock" class="stock">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.StockLevel)
        </div>
        <div class="display-field stockLevel">
            @Html.DisplayFor(model => model.StockLevel)
        </div>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new {id = Model.ProductKey})
        @Html.ActionLink("Details", "Details", new {id = Model.ProductKey})
    </td>
</tr>


